<header class="header-1">
    <!-- Header = Topbar + Navigation Bar -->
    <div class="topbar-wrapper">
        <div class="container">
            <!-- Dark Blue Topbar -->
            <div class="topbar">
                <div>
                    <!-- Change Topbar Contact Number here -->
                </div>
                <div>
                    <ul class="topbar-widgets">
                        <!-- Topbar Widgets - Cart, Language Select & Login Signup -->
                        <li>
                            <span data-toggle="modal" data-target="#cart-modal">
                                <i class="fa fa-shopping-cart"></i>
                            </span>
                        </li>
                        <li>
                            <span data-toggle="modal" data-target="#lang-modal">
                                <i class="fa fa-globe"></i>
                            </span>
                        </li>
                        <li>
                            <span data-toggle="modal" data-target="#login-modal">
                                {{currentUser.sLogUser}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg">
        <!-- Navigation Bar -->
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="../assets/resources/images/logo.png" alt=""> <!-- Replace with your Logo -->
            </a>

            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-navigation"
                aria-expanded="false">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-bars"></i> <!-- Mobile Navigation Toggler Icon -->
                </span>
            </button>

            <div class="navbar-collapse collapse" id="main-navigation">
                <!-- Main Menu -->
                <ul class="navbar-nav">
                    <li class="nav-item has-menu"><a href="#" class="nav-link">Cursos</a>
                        <div class="sub-menu">
                            <!-- Sub Menu -->
                            <ul class="menu-list">
                                <li><a href="user/course/add" routerLink="../../../user/course/add" class="btn btn-primary btn-sm"
                                        role="button" routerLinkActive="active">Criar Curso</a></li>
                                <li><a href="user/course/update" routerLink="../../../user/course/update" role="button"
                                        routerLinkActive="active">Editar Curso</a></li>
                                <li><a href="user/course/remove" routerLink="../../../user/course/remove" role="button"
                                        routerLinkActive="active">Excluir Curso</a></li>
                                <li><a href="user/course/list/all" routerLink="../../../user/course/list/all" role="button"
                                        routerLinkActive="active">Visualizar Cursos</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item has-menu"><a href="#" class="nav-link">Atividades</a>
                        <div class="sub-menu">
                            <!-- Sub Menu -->
                            <ul class="menu-list">
                                <li><a href="user/activity/add" routerLink="../../../user/activity/add" class="btn btn-primary btn-sm"
                                        role="button" routerLinkActive="active">Criar Atividade</a></li>
                                <li><a href="user/activity/update" routerLink="../../../user/activity/update" role="button"
                                        routerLinkActive="active">Editar Atividade</a></li>
                                <li><a href="user/activity/remove" routerLink="../../../user/activity/remove" role="button"
                                        routerLinkActive="active">Excluir Atividade</a></li>
                                <li><a href="user/activity/list/all" routerLink="../../../user/activity/list/all" role="button"
                                        routerLinkActive="active">Visualizar Atividades</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item has-menu"><a href="#" class="nav-link">Grupos</a>
                        <div class="sub-menu">
                            <!-- Sub Menu -->
                            <ul class="menu-list">
                                <li><a href="user/group/add" routerLink="../../../user/group/add" class="btn btn-primary btn-sm" role="button"
                                        routerLinkActive="active">Criar Grupo</a></li>
                                <li><a href="user/group/update" routerLink="../../../user/group/update" role="button"
                                        routerLinkActive="active">Editar Grupo</a></li>
                                <li><a href="user/group/remove" routerLink="../../../user/group/remove" role="button"
                                        routerLinkActive="active">Excluir Grupo</a></li>
                                <li><a href="user/group/list/all" routerLink="../../../user/group/list/all" role="button"
                                        routerLinkActive="active">Visualizar Grupos</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item has-menu"><a href="#" class="nav-link">Perfil</a>
                        <div class="sub-menu">
                            <!-- Sub Menu -->
                            <ul class="menu-list">
                                <li><a href="user/update" routerLink="../../../user/user/upate" role="button" routerLinkActive="active">Editar
                                        Perfil</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Slider Revolution -->
<div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="slider" class="rev_slider fullwidthbanner" data-version="5.0.7">
    </div>
</div>
<!-- Revolution Slider Ends -->
<section class="page-header">
    <div class="container">
        <h1 class="heading">Activity Detail</h1>
        <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../../user">User</a></li>
            <li class="breadcrumb-item active"><a href="#">Activity Detail</a></li>
        </ul>
    </div>
</section>

<section class="container mt-80">
    <div class="row">
        <div class="col-lg-4 mt-20">
            <div class="course-intro">
                <img src="../assets/resources/images/grid_sap.jpg"  class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-lg-8 mt-20">
            <div class="course-full">
                <h2 class="heading">{{currentActivity.sNamAct}}</h2>
                <div class="personal">
                </div>
                <button class="btn btn-primary" (click)="onSubmit()">Comprar curso</button>
            </div>
        </div>
    </div>

    <kendo-pdf-export #pdf paperSize="A4" margin="2cm">
        <div class="row mt-60">
        </div>
    </kendo-pdf-export>