
    <section class="page-header">
        <div class="container">
            <h1 class="heading">Logon</h1>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><a href="#">Logon</a></li>
            </ul>
        </div>
    </section>
    
    <section class="container mt-60">
        <div class="row">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-body">
                                <h2>Login</h2>
                                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !sLogUser.valid }">
                                        <label for="sLogUser">Username</label>
                                        <input type="text" class="form-control" name="sLogUser" [(ngModel)]="model.sLogUser"
                                            #sLogUser="ngModel" required />
                                        <div *ngIf="f.submitted && !sLogUser.valid" class="help-block">Username is
                                            required</div>
                                    </div>
                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !sPasUser.valid }">
                                        <label for="sPasUser">Password</label>
                                        <input type="password" class="form-control" name="sPasUser" [(ngModel)]="model.sPasUser"
                                            #sPasUser="ngModel" required />
                                        <div *ngIf="f.submitted && !sPasUser.valid" class="help-block">Password is
                                            required</div>
                                    </div>
                                    <div class="form-group">
                                        <button [disabled]="loading" class="btn btn-primary">Login</button>
                                        <a [routerLink]="['/home/add']" class="btn btn-link">Register</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
