
        <header class="header-1">            <!-- Header = Topbar + Navigation Bar -->
            <div class="topbar-wrapper">
                <div class="container">            <!-- Dark Blue Topbar -->
                    <div class="topbar">
                        <div>
                                    <!-- Change Topbar Contact Number here -->
                        </div>
                        <div>
                            <ul class="topbar-widgets">         <!-- Topbar Widgets - Cart, Language Select & Login Signup -->
                                <li>
                                    <span data-toggle="modal" data-target="#cart-modal">
                                        <i class="fa fa-shopping-cart"></i>
                                    </span>
                                </li>
                                <li>
                                    <span data-toggle="modal" data-target="#lang-modal">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </li>
                                <li>
                                    <span data-toggle="modal" data-target="#login-modal">
                                        {{currentUser.sLogUser}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            <nav class="navbar navbar-expand-lg">         <!-- Navigation Bar -->
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img src="../assets/resources/images/logo.png" alt="">          <!-- Replace with your Logo -->
                    </a>
    
                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                        <span class="navbar-toggler-icon">
                            <i class="fa fa-bars"></i>          <!-- Mobile Navigation Toggler Icon -->
                        </span>
                    </button>
    
                    <div class="navbar-collapse collapse" id="main-navigation">         <!-- Main Menu -->
                        <ul class="navbar-nav">
                            <li class="nav-item has-menu"><a href="#" class="nav-link">Cursos</a>
                                <div class="sub-menu">          <!-- Sub Menu -->
                                    <ul class="menu-list">
                                        <li [hidden]="currentUser.type == 'ALUNO'"><a href="user/course/add" routerLink="course/add" class="btn btn-primary btn-sm" role="button" routerLinkActive="active">Criar Curso</a></li>
                                        <li [hidden]="currentUser.type == 'ALUNO'"><a href="user/course/update" routerLink="course/update"  role="button" routerLinkActive="active">Editar Curso</a></li>
                                        <li [hidden]="currentUser.type == 'ALUNO'"><a href="user/course/remove" routerLink="course/remove"  role="button" routerLinkActive="active">Excluir Curso</a></li>
                                        <li><a href="/user" routerLink="/user"  role="button" routerLinkActive="active">Visualizar Cursos</a></li>
                                        <li><a href="course/paid/" routerLink="course/paid/"  role="button" routerLinkActive="active">Meus Cursos</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item has-menu"><a href="#" class="nav-link">Atividades</a>
                                <div class="sub-menu">          <!-- Sub Menu -->
                                    <ul class="menu-list">
                                        <li><a href="user/activity/add" routerLink="activity/add" class="btn btn-primary btn-sm" role="button" routerLinkActive="active">Criar Atividade</a></li>
                                        <li><a href="user/activity/update" routerLink="activity/update"  role="button" routerLinkActive="active">Editar Atividade</a></li>
                                        <li><a href="user/activity/remove" routerLink="activity/remove"  role="button" routerLinkActive="active">Excluir Atividade</a></li>
                                        <li><a href="user/activity/list/all" routerLink="activity/list/all"  role="button" routerLinkActive="active">Visualizar Atividades</a></li>
                                    </ul>
                                </div>
                            </li>                           
                            <li class="nav-item has-menu"><a href="#" class="nav-link">Grupos</a>
                                <div class="sub-menu">          <!-- Sub Menu -->
                                    <ul class="menu-list">
                                        <li><a href="user/group/add" routerLink="group/add" class="btn btn-primary btn-sm" role="button" routerLinkActive="active">Criar Grupo</a></li>
                                        <li><a href="user/group/update" routerLink="group/update"  role="button" routerLinkActive="active">Editar Grupo</a></li>
                                        <li><a href="user/group/remove" routerLink="group/remove"  role="button" routerLinkActive="active">Excluir Grupo</a></li>
                                        <li><a href="user/group/listAll" routerLink="group/listAll"  role="button" routerLinkActive="active">Visualizar Grupos</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item has-menu"><a href="#" class="nav-link">Perfil</a>
                                <div class="sub-menu">          <!-- Sub Menu -->
                                    <ul class="menu-list">
                                            <li><a href="user/update" routerLink="user/upate"  role="button" routerLinkActive="active">Editar Perfil</a></li>
                                            <li><a href="listAll" routerLink="listAll"  role="button" routerLinkActive="active">Meus Perfis</a></li>
                                            <li><a href="add" routerLink="add/"  role="button" routerLinkActive="active">Criar Perfil</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    <div class="rev_slider_wrapper fullwidthbanner-container">
        <div id="slider" class="rev_slider fullwidthbanner" data-version="5.0.7"></div>
    </div>

<br>
<section class="container mt-120 mb-40">
    <div class="row">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="heading">Olá <span class="text-primary">{{currentUser.sNamUser}}!</span></h1>
            </div>
        </div>
    </div>

    </div>
</section>

<div class="pt-60 pb-60 bg-light">
    <form>
        <div class="container">
            <div class="row">
                <div class="col-12 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-search fa-2x pr-2"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="search-1" name="search" [(ngModel)]="searchTerm" type="text"
                        placeholder="Start typing..." />
                </div>
            </div>
        </div>
    </form>
</div>

<section class="container mt-60 mb-100">
    <div class="row">
        <a *ngFor="let user of users | paginate: { itemsPerPage: 6, currentPage: pageNumber, totalItems: users.length } | searchPipe: searchTerm; let i = index" class="col-lg-4" [routerLink]="['/detail/', user.iCodUser]">
            <div class="card course-card new">
                <div class="course-head">
                        <img src="../assets/resources/images/horse_avatar.jpg" class="img-fluid course-img" alt="">
                        <a [routerLink]="['/detail/', user.iCodUser]" class="course-link"><i class="fa fa-link"
                                aria-hidden="true"></i></a>
                    </div>
                <div class="course-detail">
                    <h4 class="heading">{{user.sNamUser}}</h4>
                    <ul class="course-features">
                        <li><i class="fa fa-map-marker"></i>horse</li>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="row mt-20">
        <div class="col-lg-12">
            <pagination-controls (pageChange)="pageNumber = $event" 
                maxSize="9"
                directionLinks="true"
                autoHide="true"
                responsive="true"
                previousLabel="Previous"
                nextLabel="Next"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </div>
    </div>
</section>