<!-- Caso tivesse um navbar único, poderíamos colocar aqui -->
<!-- Em nosso caminho de aprendizado, entendemos que o Angular com rotas funciona se dedicando a performance do site
pois quando colocamos no index.html o head ele apenas carregará uma vez durante toda a sessão do usuário e caso tivéssemos
um componente utilizado em todas as telas sem ter alteração, poderíamos colocar aqui e carregaria também uma únic vez  -->
<div class="loader-backdrop">
    <!-- Loader  -->
    <div class="loader">
        <div class="ball-1"></div>
        <div class="ball-2"></div>
    </div>
</div>
<router-outlet></router-outlet>