<section class="page-header">
    <div class="container">
        <h1 class="heading">Atividades</h1>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">Nova Atividade</a></li>
        </ul>
    </div>
</section>

<section class="container mt-100">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="heading">Selecione <span class="text-primary">Curso</span></h2>
            <label for="course">Curso</label>
            <label for="categoria">Curso 1</label>
            <select [(ngModel)]="courseOne" name="category" class="form-control" required>
                <option *ngFor="let category of categories" [value]="category.iCodCou">{{ category.sNamCou }}</option>
            </select>
            <br>
            <h2 class="heading">Nova <span class="text-primary">Atividade</span></h2>
            <form>
                <div class="form-group">
                    <label for="name">Titulo</label>
                    <input type="text" class="form-control" id="sNamAct" required [(ngModel)]="activity.sNamAct" name="sNamAct">
                    <br>
                    <label for="message">Descrição</label>
                    <textarea class="form-control" id="sDesAct" required [(ngModel)]="activity.sDesAct"
                        name="sDesAct"></textarea>
                    <br>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="container mt-40 mb-40">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="heading">PDF <span class="text-primary">Upload</span></h2>
            <form (ngSubmit)="onSubmit()">
                <label for="name2">Upload file</label>
                <br>
                <label class="custom-file w-100">
                    <input type="file" id="sPatPDFAct" name="sPatPDFAct"  class="custom-file-input" required [(ngModel)]="activity.sPatPDFAct" >
                    <span class="custom-file-control">Click here</span>
                </label>
                <br>

                <br>
                <label for="name">Video code</label>
                <input type="text" class="form-control" id="sCodVidAct" required [(ngModel)]="activity.sCodVidAct" name="sCodVidAct">
                <br>
                <br>
                <!-- <div class="progress">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                        style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                    </div>
                </div> -->
                <br>
                <button class="btn btn-primary">Criar Grupo</button>
                <br>
            </form>
        </div>
    </div>
</section>


