<section class="page-header">
    <div class="container">
        <h1 class="heading">Course Detail</h1>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">Course Detail</a></li>
        </ul>
    </div>
</section>

<section class="container mt-80">
    <div class="row">
        <div class="col-lg-4 mt-20">
            <div class="course-intro">
                <img src="../assets/resources/images/course-single.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-lg-8 mt-20">
            <div class="course-full">
                <h2 class="heading">{{currentCourse.sNamCou}}</h2>
                <div class="personal">
                    <div>
                        <span>Categoria</span>
                        <br>
                        <strong class="text-primary">{{currentCourse.category.sNamCat}}</strong>
                    </div>
                    <div>
                        <span>Duração</span>
                        <br>
                        <strong class="text-primary">{{currentCourse.fHorCou}}</strong>
                    </div>
                    <div>
                        <span>Fee</span>
                        <br>
                        <strong class="text-primary">R${{currentCourse.fPriCou}}</strong>
                    </div>
                    <div>
                        <button kendo-button (click)="pdf.saveAs('invoice.pdf')" class="btn btn-primary">Gerar
                            Certificado</button>

                    </div>
                </div>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
                    which I enjoy with my whole heart. A wonderful serenity has taken possession of my entire soul,
                    like these sweet mornings of spring which I enjoy with my whole heart.</p>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
                    which I enjoy with my whole heart.</p>
                <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never
                    was a greater artist than now.</p>
            </div>
        </div>
    </div>

    <kendo-pdf-export #pdf paperSize="A4" margin="2cm">
        <div class="row mt-60">
            <div class="col-lg-4">
                <p>Average Pass Rate</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                        style="width: 90%;">
                        90%
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <p>Level of Hardness</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                        style="width: 80%;">
                        80%
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4">
            <p>Average Score</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 60%;">
                    60%
                </div>
            </div>
        </div> -->
        </div>
    </kendo-pdf-export>



    <section class="container mt-100 mb-100">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="heading">Atividades <span class="text-primary">{{currentCourse.category.sNamCat}}</span></h2>
            </div>
            <div class="col-lg-3">
                <ul class="nav nav-pills flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#t3body1" aria-controls="t3body1" role="tab" data-toggle="tab"><i
                                class="fa fa-futbol-o fa-fw"></i> Fun at School</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#t3body2" aria-controls="t3body2" role="tab" data-toggle="tab"><i
                                class="fa fa-university fa-fw"></i> Organic Food</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#t3body3" aria-controls="t3body3" role="tab" data-toggle="tab"><i
                                class="fa fa-flask fa-fw"></i> Laboratories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#t3body4" aria-controls="t3body4" role="tab" data-toggle="tab"><i
                                class="fa fa-graduation-cap fa-fw"></i> Successful Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#t3body5" aria-controls="t3body5" role="tab" data-toggle="tab"><i
                                class="fa fa-graduation-cap fa-fw"></i> Successful Students</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="t3body1">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                            spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in
                            this spot, which was created for the bliss of souls like mine. I am so happy, my dear
                            friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my
                            talents.</p>
                        <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that
                            I never was a greater artist than now. When, while the lovely valley teems with vapour
                            around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my
                            trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among
                            the tall grass by the trickling stream; and, as I lie close to the earth, a thousand
                            unknown plants are noticed by me.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="t3body2">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                            spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in
                            this spot, which was created for the bliss of souls like mine. I am so happy, my dear
                            friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my
                            talents.</p>
                        <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that
                            I never was a greater artist than now. When, while the lovely valley teems with vapour
                            around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my
                            trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among
                            the tall grass by the trickling stream; and, as I lie close to the earth, a thousand
                            unknown plants are noticed by me.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="t3body3">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                            spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in
                            this spot, which was created for the bliss of souls like mine. I am so happy, my dear
                            friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my
                            talents.</p>
                        <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that
                            I never was a greater artist than now. When, while the lovely valley teems with vapour
                            around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my
                            trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among
                            the tall grass by the trickling stream; and, as I lie close to the earth, a thousand
                            unknown plants are noticed by me.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="t3body4">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings
                            of
                            spring which I enjoy with my whole heart. I am alone, and feel the charm of existence
                            in
                            this spot, which was created for the bliss of souls like mine. I am so happy, my dear
                            friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect
                            my
                            talents.</p>
                        <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel
                            that
                            I never was a greater artist than now. When, while the lovely valley teems with vapour
                            around me, and the meridian sun strikes the upper surface of the impenetrable foliage
                            of my
                            trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down
                            among
                            the tall grass by the trickling stream; and, as I lie close to the earth, a thousand
                            unknown plants are noticed by me.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="t3body5">
                        <section class="container mt-40 mb-40">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="heading text-center">Theme Styled <span class="text-primary">Video</span>
                                        <span class="sub-heading">Seamlessly embed videos wherever you like. Give your
                                            custom height or width and see the videos adapt themselves. Its that easy!</span>
                                        <span class="icon-divider"></span>
                                    </h2>
                                    <div class="youtube" data-video-id="bS1fM5G-xEs">
                                        <!-- Replace video id with your video id -->
                                        <div class="btn-play">
                                            <i class="fa fa-youtube-play"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>